html {
	background: #f5f5f5;
	width: 100%;
}

body {
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
   font-weight: 300;
   color: rgb(57, 57, 57);
}

#container {
	width: 80%;
	margin: 3em auto;
}

header {
	width: 100%;
	text-align: center;
	margin-bottom: 5em;
}

.topics img {
	max-width: 50%;
}
.topics{
	margin: 1.5em 0 1.5em 0;
}


